* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* heading part start */
header {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin-bottom: 40px;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-part {
    display: flex;
}

/* big logo part */
#logo {
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    padding: 30px;
    position: relative;
    z-index: 3;
    letter-spacing: 1px;
}

.circle {
    border-radius: 50%;
    height: 68px;
    width: 68px;
    position: absolute;
    background-color: rgb(24, 225, 208);
    top: 20px;
    left: 30px;
    z-index: 2;
}

/* icon start */
.icon-bar {
    margin: 45px 30px 0 0;
    z-index: 2;
    letter-spacing: 1px;
}

.manu {
    display: none;
    padding: 20px;
    font-size: 20px;
}

a {
    text-decoration: none;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    color: white;
}

a:hover {
    color: rgb(166, 0, 255);
}
/* icon end */
/* heading part end */

/* hero section start*/

.hero-about {
    text-align: center;
    width: 100%;
    height: 20px;
}

.hero {
    height: 600px;
    width: 100%;
    background-image: url("images/earth-img.jpg");
    background-size: cover;
    background-position: left;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: "";
    background-color: black;
    height: 600px;
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
}

.heading-1 {
    width: 98%;
    color: white;
    font-size: 60px;
    z-index: 2;
    position: absolute;
    top: 250px;
    letter-spacing: 1px;
}

#hero-para {
    width: 98%;
    position: absolute;
    top: 420px;
    color: rgb(192, 190, 190);
    font-size: 14px;
    z-index: 2;
}

#btn1 {
    z-index: 2;
    padding: 12px 30px;
    color: white;
    background-color: red;
    border-radius: 8px;
    border: 2px solid red;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
    bottom: 150px;
    letter-spacing: 1px;
}

#btn1:hover {
    background-color: rgb(245, 245, 29);
    border: 2px solid rgb(245, 245, 29);
    color: black;
}
/* hero section end*/

/* first article start */
.first-article {
    width: 100%;
    text-align: center;
}

/* intro big font */
.intro-heading {
    width: 100%;
    font-size: 50px;
    padding: 80px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    width: 100%;
    height: 10px;
    font-size: 30px;
    color: rgb(10, 203, 161);
    margin-bottom: 70px;
}

/* intro small font */
#intro-para {
    width: 100%;
    color: rgb(81, 80, 80);
}

/* intro button */
#btn2 {
    padding: 12px 40px;
    color: white;
    background-color: rgb(10, 203, 161);
    border-radius: 8px;
    border: 2px solid rgb(10, 203, 161);
    box-shadow: 5px 5px 7px rgb(70, 69, 69);
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#btn2:hover {
    color: black;
    background-color: rgb(249, 180, 41);
    border: 2px solid rgb(234, 162, 8);
    box-shadow: 3px 3px 5px black;
}
/* first article end */

/* second article start */
.sec-article {
    width: 100%;
    height: 250px;
    background-image: linear-gradient(to right, rgb(0, 0, 1), rgb(2, 2, 118), rgb(52, 0, 120));
    margin: 80px 0;
    color: white;
    display: flex;
    text-align: center;
}

.us {
    width: 200px;
    padding-top: 60px;
    font-size: 40px;
    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
}

/* line */
.line-about {
    width: 110px;
    height: 3px;
    background-color: white;
    margin: 30px 0 0 25px;
}

/* paragraph */ 
.para {
    padding: 50px;
    text-align: left;
    word-spacing: 1px;
}
/* second article end */

/* third article start */
#section-four {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    padding-bottom: 10px;
}

/* big logo part */
#port {
    width: 100%;
    padding: 5px;
    font-size: 40px;
    margin: 10px;
    font-weight: 600;
}

/* logo line */
.line-port {
    width: 50%;
    height: 2px;
    background-color: black;
    font-size: 14px;  
    margin: 30px 0 0 18px;  
}

/* sitebar start */
.manu2 {
    display: none;
}

.portfolio-bar {
    width: 100%;
    margin: 35px 25px 0 0;
}

.sitebar {
    text-decoration: none;
    text-transform: capitalize;
    margin: 10px;
    font-size: 18px;
    color: black;
}

#first {
    padding: 8px;
    background-color: rgb(32, 247, 150);
    border-radius: 4px;
}

#first:hover {
    color: white;
    background-color: rgb(0, 255, 26);
}
/* sitebar end */

/* portfolio image */
.portfolio-img {
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}

/* first image */
.one {
    width: 100%;
    height: 350px;
    background-image: url("images/one-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
    position: relative;
    z-index: 2;
}

.one::before {
    content: " ";
    width: 100%;
    height: 350px;
    background-color: black;   
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
    position: absolute;
    z-index: 1;
}

/* plus sign */
#plus {
    width: 100%;
    height: 50px;
    color: white;
    position: absolute;
    z-index: 2;
    text-align: center;
    margin-top: 150px;
    font-size: 30px;
}

/* first image font */
#click {
    width: 100%;
    height: 50px;
    background-color: red;
    color: white;
    position: absolute;
    z-index: 2;
    text-align: center;
    margin-top: 300px;
    padding-top: 15px;
    font-size: 18px;
}

/* second image */
.two {
    width: 100%;
    height: 350px;
    background-image: url("images/two-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* third image */
.three {
    width: 100%;
    height: 350px;
    background-image: url("images/three-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* fourth image */
.four {
    width: 100%;
    height: 350px;
    background-image: url("images/four-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* fifth image */
.five {
    width: 100%;
    height: 350px;
    background-image: url("images/five-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* sixth image */
.six {
    width: 100%;
    height: 350px;
    background-image: url("images/six-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* seventh image */
.seven {
    width: 100%;
    height: 350px;
    background-image: url("images/seven-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}

/* eighth image */
.eight {
    width: 100%;
    height: 350px;
    background-image: url("images/eight-img.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px 7px rgb(90, 90, 90);
}
/* third article start */

/* fifth article start */
.what-says {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}

/* customer qus */
#customer {
    height: 1px;
    font-size: 30px;
    padding-left: 250px;
}

/* customer image */
.customer-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgb(7, 202, 137);
    background-image: url("images/circle-img.jpg");
    background-size: cover;
    position: relative;
    top: 70px;
    left: 300px;
    z-index: 2;
}

/* cistomer inner about */
.customer-say {
    height: 150px;
    background-image: linear-gradient(to top, green, rgb(1, 221, 148));
    position: relative;
    padding: 50px 0 0 600px;
    text-align: left;
    color: white;
    word-spacing: 2px;
}

.big {
    font-size: 20px;
}
/* fifth article start */

/* sixth article start */
.logo-team {
    height: 100px;
    width: 100%;
}

/* team font logo */
#team {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 40px 20px 40px;
}

/* team underline */
.line-team {
    height: 3px;
    width: 80px;
    background-color: black;
    margin-left: 40px;
}

.team-img-name {
    height: 350px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 50px;
}

/* first allex img */
.allex {
    height: 330px;
    width: 100%;
    background-image: url("images/allex-img.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    box-shadow: 5px 5px 10px rgb(76, 75, 75);
}

.allex::before {
    content: " ";
    height: 330px;
    width: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 2;
    opacity: 0.7;
}

/* allex img under icon */
#icon {
    position: absolute;
    top: 120px;
    left: 90px;
    z-index: 2;
    color: white;
    font-size: 25px;
}

/* allex name */
#name {
    width: 100%;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 280px;
    z-index: 2;
    background-color: rgb(7, 202, 137);
    color: white;
    font-size: 18px;
}

/* second img */
.nicolas {
    height: 330px;
    width: 100%;
    background-image: url("images/nicolas-img.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgb(76, 75, 75);
}

/* next three image name */
#fname {
    height: 50px;
    width: 100%;
    background-color: rgb(7, 202, 137);
    color: white;
    text-align: center;
    margin-top: 280px;
    font-size: 18px;
}

/* third img */
.allice {
    height: 330px;
    width: 100%;
    background-image: url("images/allice-img.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgb(76, 75, 75);
}

/* fourth img */
.laura {
    height: 330px;
    width: 100%;
    background-image: url("images/loura-img.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgb(76, 75, 75);
}
/* sixth article end */

/* seventh article end */
/* intro background img */
.rain {
    width: 100%;
    height: 300px;
    background-image: url("images/rain.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    margin: 30px 0;
}

.rain::before {
    content: " ";
    width: 100%;
    height: 300px;
    background-color: black;
    opacity: 0.7;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 2;
}

/* intro big font */
.intro-rain {
    width: 100%;
    position: absolute;
    top: 50px;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 50px;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* intro button */
.rain-button {
    width: 90%;
    text-align: center;
}

#btn3 {
    padding: 10px 20px;
    position: absolute;
    top: 200px;
    z-index: 2;
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background-color: red;
    border-radius: 5px;
    border: none;
}

#btn3:hover {
    color: black;
    background-color: rgb(255, 230, 0);
}
/* seventh article end */

/* eighth article start */
/* services logo */
.logo-services {
    width: 100%;
    height: 100px;
}

#services {
    font-size: 40px;
    margin: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* logo underline */
.line-services {
    height: 2px;
    width: 100px;
    margin-left: 30px;
    background-color: black;
}

/* icon & about part */
#six-icon {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin: 40px;
}

/* icon */
.mechine {
    width: 100%;
    font-size: 60px;
    text-align: center;
    padding-top: 70px;
}

/* icon big font */
#desin {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

/* icon small font */
#about {
    font-size: 15px;
    text-align: center;
    padding: 0px 10px;
}
/* eighth article end */

/* nineth article start */
.gray {
    width: 100%;
    height: 150px;
    background-image: linear-gradient(to right, rgb(0, 0, 1), rgb(2, 2, 118), rgb(52, 0, 120));
    text-align: center;
    margin-bottom: 20px;
}

#gray-para {
    font-size: 28px;
    color: white;
    padding-top: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* nineth article end */

/* footer part start */
/* cont. logo */
#cont {
    width: 100%;
    font-size: 40px;
    padding-top: 10px;
    text-align: center;
}

.form-part {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 0px 20px;
}

/* left side about */
.part1, .part2 {
    padding: 20px 0px 0px 90px;
}

/* big font */
#foot-parabig {
    font-size: 30px;
}

/* small font */
#foot-para {
    padding-top: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgb(78, 76, 76);
}

label {
    font-size: 20px;
    color: rgb(78, 76, 76);
}

input[type="text"], textarea {
    height: 30px;
    width: 80%;
    border: none;
    border-bottom: 1px solid rgb(78, 76, 76);
}

/* form button */
#btn4{
    color: white;
    background-color: red;
    border: none;
    border-radius: 6px;
    padding: 8px 35px;
    font-size: 20px;
    margin-top: 40px;
}

#btn4:hover {
    color: black;
    background-color: rgb(255, 230, 0);
}

/* footer last part */
.last {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to right, rgb(0, 0, 56), rgb(2, 2, 62), rgb(59, 3, 133));
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 2px 150px;
}

/* left side font */
.left {
    font-size: 25px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* right side font */
.right::after {
    content: "  \02C4";
    font-size: 40px;
}
/* footer part end */
